
.g100 {
    display: inline-block;
    font: 1em sans-serif;
    color: #fff;
    background-color: #079c2d;
    padding: 2px 4px;
}

.authorbox .inside {
    width:45%;
}

.criticalcss-buttons {
    float:left;
}
.criticalcss-editorswitch {
    float:left;
    margin-left:1.5em;
    padding-top:2px;
}
.criticalcss-editorswitch label {
    font-size:12px;
}


.abtfexample thead td {
    font-size:22px;
    line-height:24px;
    font-weight:bold;
    text-align:center;
}
.abtfexample thead td.err {
    background-color:red;
    color:white;
    padding:5px;
}
.abtfexample thead td.ok {
    background-color:#079c2d;
    color:white;
    padding:5px;
}
.testcontent p {
    font-size:14px;
    line-height:16px;
}

.CodeMirror {
    border: 1px solid #eee;
    font-size:10px!important;
    width:100%;
    height: 150px!important;
    margin-bottom:5px;
}
.CodeMirror.large {
    border: 1px solid #eee;
    font-size:14px!important;
    width:100%;
    height: 500px!important;
}

.ccss_editor .abtfcss {
    width: 100%;
    height:150px;
    font-size:11px;
    margin-bottom:5px;
}

/**
 * Critical CSS editor
 */
.form-table td.criticalcsstable {
    padding:0px;
}


.abtf-inner-table {
    border:solid 1px #e5e5e5;
}
.abtf-inner-table .form-table th {
    padding: 7px 10px 20px 0;
}
.abtf-inner-table .form-table td {
    padding: 7px 10px;
}
.form-table h5.h {
    font-size:12px;
    line-height:14px;
    margin:0px;
    padding:0px;
    padding-bottom:2px;
    font-weight:bold;
}
.abtf-inner-table .inside {
    background-color:white;
}

.form-table h3.h {
    border-bottom:solid 1px #e5e5e5;
    background-color:#efefef;
    font-size: 14px!important;
    padding: 8px 12px!important;
    margin: 0!important;
    line-height: 1.4!important;
}

.criticalcsstable .item-edit {
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    width: 30px;
    height: 40px;
    margin-right: 0!important;
    text-indent: 100%;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
}
.criticalcsstable .item-edit {
    position: absolute;
    right: -20px;
    top: 0;
    display: block;
    width: 30px;
    height: 40px;
    margin-right: 0!important;
    text-indent: 100%;
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
}
.wp-core-ui .button-yellow{
    background:#f1b70a;
    border-color:#DDA809 #CD9C09 #CD9C09;
    -webkit-box-shadow:0 1px 0 #CD9C09;
    box-shadow:0 1px 0 #CD9C09;
    color:#000;
    text-decoration:none;
    text-shadow:none;
}

.wp-core-ui .button-yellow:focus,
.wp-core-ui .button-yellow:hover{
    background:#F9BD0B;
    border-color:#CD9C09;
    color:#000;
}

.wp-core-ui .button-green{
    background:#079c2d;
    border-color:#068827 #056F21 #056F21;
    -webkit-box-shadow:0 1px 0 #056F21;
    box-shadow:0 1px 0 #056F21;
    color:#fff;
    text-decoration:none;
    text-shadow:none;
}

.wp-core-ui .button-green:focus,
.wp-core-ui .button-green:hover{
    background:#079c2d;
    border-color:#056F21;
    color:#fff;
}

.wp-core-ui .button-del {
    color:#FF0000;
}

.wp-core-ui .button-del:focus,
.wp-core-ui .button-del:hover{
    background:#FF0000;
    border-color:#AB0000;
    color:#fff;
}

textarea.abtfcmd {
    width:100%;
    height: 48px;
    font-size: 14px;
    line-height: 18px;
    padding: 5px;
    padding-left: 8px;
    font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}


#livehtml {
    display:inline-block;
    clear:both;
    float:left;
    margin-bottom:10px;
    font-size:120%;
}
.live {
    float:left;
  white-space: nowrap;
  overflow: hidden;
}
.live span.tag {
    font-family: Consolas,monospace;
  white-space: nowrap;
  overflow: hidden;
    color: black;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.7;
}
.live span.text {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 1px solid #444; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    display:inline-block;
    white-space: nowrap;
    overflow: hidden;
    vertical-align:bottom;
  animation: 
    typing 3.5s steps(64, end),
    blink-caret .75s step-end infinite;
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}